body {
    background-color: black;
}

.card {
    width: 250px;
    margin: 0 auto;
    background-color: white;

}

.headerimage {
    width: 100%
}

.awesomearticle {
    padding: 10%;
    text-align: center;
}

.grid > div {
    padding: auto;
    background-color: blue;
    margin: 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    overflow: auto;
    margin-bottom: 0;
}